# Ignore node_modules
node_modules

# Ignore logs
*.log

# Ignore temporary files
*.tmp
*.swp

# Ignore build artifacts
dist
build

# Ignore Docker-related files
docker-compose.yml
.dockerignore

# Ignore version control files
.git
.gitignore
